.web-btn {
    background-color: #79a207;
    color: #FFFFFF;
    border-radius: 0;
    padding: 8px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    transition: .8s ease !important;
}

.web-btn:hover {
    background-color: #2d2d2d;
    border: solid 1px #2d2d2d;
    color: #FFFFFF;
}

