<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title"> {{type}} client</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form #formdata="ngForm" (submit)="Save(formdata)">

			<label for="dateOfBirth">Product Name</label>
			<input class="form-control form-control-sm mb-2"
			 type="text" name="name" [(ngModel)]="products.name" required>
			<label for="dateOfBirth">Product Place</label>
			<input class="form-control form-control-sm" type="text" placeholder="Place" name="price"
				[(ngModel)]="products.price" required>
				<label for="dateOfBirth">Product Description</label>
				<input class="form-control form-control-sm" type="text" placeholder="Place" name="description"
					[(ngModel)]="products.description" required>
		</form>

	</div>

	<div class="modal-footer">
		<button [disabled]="formdata.invalid" type="submit" class="btn btn-outline-dark"
			(click)="Save(formdata)">Save</button>
	</div>
</ng-template>

<button class="btn" [ngClass]="{'btn-primary':type=='add','btn-warning':type=='update'}"
	(click)="open(content)">{{type}}</button>