.slider {
    position: relative;
}

.carousel-item {
    height: 78vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel {
    display: flex;
    justify-content: center;
}

.txt {
    position: absolute;
    top: 20%;
    text-align: center;
}



.txt h1 {
    color: #79a207;
}