<section class="mt-5">

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nmae</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th class="text-center">
            <app-modal (onSave)="onSave($event)" type="add"></app-modal>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (data$ |async)">
          <td>{{item.name}}</td>
          <td>{{item.price|currency}}</td>
          <td>{{item.description}}</td>

          <td class="text-center">
            <app-modal (onSave)="onSave($event)" [products]="item" type="update"></app-modal>
            <button class="btn btn-danger ms-2" (click)="DeleteProduct(item.id!)">delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</section>