<section class="featured-items padding-top padding-bottom" id="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading-details mb-0">
                    <h4 class="heading">Our Products</h4>
                </div>
            </div>
            <div class="col-12 col-md-8 offset-md-2 text-center mb-4">
                <p class="text">Lorem ipsum is simply dummy text of the printing and type setting has been the
                    industry.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 text-center ">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="https://megaone.acrothemes.com/food-shop/img/item8.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Oranges</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$20</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp"
                style="visibility: visible; animation-name: slideInUp;">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="https://megaone.acrothemes.com/food-shop/img/item9.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i
                                        class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Grapes</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$30</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp" style="animation-name: none;">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="https://megaone.acrothemes.com/food-shop/img/item8.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i
                                        class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Bananas</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$40</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp" style="animation-name: none;">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="https://megaone.acrothemes.com/food-shop/img/item9.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i
                                        class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Kiwi</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$10</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp" style="animation-name: none;">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="https://megaone.acrothemes.com/food-shop/img/item9.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i
                                        class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Strawberries</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$20</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center wow slideInUp" style="animation-name: none;">
                <div class="featured-item-card">
                    <div class="item-img">
                        <img src="https://megaone.acrothemes.com/food-shop/img/item9.jpg">
                        <div class="item-overlay">
                            <div class="item-btns">
                                <a href="#" class="btn btn-view"><i class="las la-shopping-bag"></i></a>
                                <a href="#" class="btn btn-view"><i class="las la-heart"></i></a>
                                <a href="food-shop/product-detail.html" class="btn btn-view"><i
                                        class="las la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-detail">
                        <h4 class="item-name">Cherries</h4>
                        <ul class="reviews">
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                            <li><i class="las la-star"></i></li>
                        </ul>
                        <p class="item-price">$30</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-5">
                <a href="#" class="btn web-btn rounded-pill">Load More
                </a>
            </div>
        </div>
    </div>
</section>